<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <title>Diograph.org</title>
</head>

<body>

<header>
    <div class="container">
        <h1>Diograph.org</h1>
        <h2>The Library for the Personal Web</h2>
    </div>
</header>

<div class="container">
    <section id="main_content">

<p>
Diograph.org is a Javascript library for the Personal Web developers. For the Personal Web itself, go to <a href="http://personal-web.org">personal-web.org</a>.
</p>
<h3><a name="getting-started" class="anchor" href="#getting-started"><span
class="octicon octicon-link"></span></a>Getting started</h3>

<p>
<ol>
<li>Create or get a Diograph document.</li>
<li>Save document to a folder in a device, service or server.</li>
<li>Open document with a Personal Browser.</li>
</ol>
</p>

<h2><a name="conceptual-model" class="anchor" href="#conceptual-model"><span
class="octicon octicon-link"></span></a>Conceptual Model</h2>

<p>
    Personal Web is a personal information system that sits between the WWW (global information system) and Files and
    Folders (local information system). Its purpose is to give people a better way to think and a neutral way to have
    digital information.

    The core of the Personal Web is the Diograph -data model that is used in
    the Personal Web applications and that is stored in any file system. The Diograph -data model is based on the
    Digital Habitat -conceptual model, the new way of thinking digital information.

    The design principle of the Personal Web is that our digital environment should be similar to our physical environment.
    The same principle is used also before in the <a href="http://en.wikipedia.org/wiki/Desktop_metaphor">desktop metaphor</a> and <a href="http://mashable.com/2010/01/13/conceptual-metaphors/">paper/document metaphor</a>

    Personal Web, respectively, consists of places like our physical environment. A place has owners, which are represented by avatars. A place again consists of rooms.

    A room is the main functional unit of the Personal Web. A room has walls, floor and sky as a ceiling. Each of these contain diories (digital memories), the basic information units of the Personal Web.
    Diories can be organized into a graph (semantic memory), a timeline (temporal memory), a map (spatial memory), a flowchart (procedural memory) or as a landscape of doors to other rooms.

    `place` -> `avatar`, `room` -> 'diory' (digital memory)
    'room' -> `wall`, `floor`, `sky` -> `diory` (digital memory)
    (Conceptual model of the Personal Web)
</p>

<h2><a name="diory" class="anchor" href="#diory"><span
        class="octicon octicon-link"></span></a>Diory</h2>

<p>
    Diory is the basic information unit and element in the Personal Web. A diory consists of name, text, image and address elements. Personal Web tools can attach buttons to diories.
</p>

<image src="images/diory.png"></image>

<pre><code>diory.json:

    {
        "ID": "21EC2020-3AEA-4069-A2DD-08002B30309D4", // GUID (mandatory)
        "version": "0.1.6",
        "IRI": "http://dbpedia.org/example", // For linked data
        "name": "This is the name of the diory",
        "text": "This is text in the diory",
        "image": "http://example.com/image.jpg",
        "address": "http://example.com/webpage/",
        "data": {...},
        "class": { // CSS class for sub-elements (see list of available classes)
            "name": {...},
            "text": {...},
            "image": {...},
            "address": {...},
        },
        "style": { // Specific CSS style for sub-elements
            "name": {...},
            "text": {...},
            "image": {...},
            "address": {...},
        },
        "location": { // GeoJSON-LD
            "type": "point",
            "coordinates": [61.49623408242434, 23.73213060316381, 16z],
        },
        "date": ["2014-05-05T13:28:30Z","2014-05-05T13:28:30Z",4],
        "created": "2015-01-29T07:06:00Z",
        "modified": "2015-01-29T07:06:00Z",
        "connections": {
            {dioryID}: {
                "position": {},
                "status": {}
            }
        }
    }

</code></pre>

<p>
    Diory element using AngularJS <code>dg-diory</code> directive based on <code>diory.json</code>:
</p>

<pre><code>
    <dg-diory diory="diory"></dg-diory>
</code></pre>

<p>
    Template in <code>dg-diory</code> directive:
</p>

<pre><code>
    <dg-image ng-class="diory.class.image" ng-style="diory.style.image">
        <i class="icon" ng-class="diory.class.image" ng-style="{'background-image': 'url(' + diory.image + ')'}"></i>
    </dg-image>
    <a dg-address ng-if="diory.address" ng-style="diory.style.address" ng-href="{{diory.address}}" target="_blank">
        <i class="big icon" ng-class="diory.class.address"></i></a>
    <dg-name class="ui header" ng-class="diory.class.name" ng-style="diory.style.name" ng-bind="diory.name"></dg-name>
    <dg-text ng-class="diory.class.text" ng-style="diory.style.text" ng-bind="diory.text"></dg-text>
    <dg-buttons ng-transclude ng-mousedown="select($event,diory)"></dg-buttons>
</code></pre>

<p>
    Elements can be modified with CSS Style attributes and <a href="http://semantic-ui.org/">Semantic UI</a> classes (header -> name, icon -> image, icon -> address).
</p>

<h2><a name="room" class="anchor" href="#room"><span
        class="octicon octicon-link"></span></a>Room</h2>

<p>
    Room is the container in the Personal Web. A room consists of walls, floor and sky as a ceiling.
    A room contains diories and tools.
</p>

<image src="images/room.png"></image>

<pre><code>room.json:

    {
        "diory": {...},
        "diories": {
            "21EC2020-3AEA-4069-A2DD-08002B30309D4": {...}
        },
        "avatars": {
            "oopee@iki.fi": {
                "position": {},
                "status": {}
            }
        },
        "rooms": {
            "ebffe2e7-d44c-44ce-b522-584390429c9d": {
                "position": {},
                "status": {}
            },
            "avatars": {
                "opohjola@gmail.com": {
                    "position": {},
                    "status": {}
                }
            }
        }
    }

</code></pre>

<p>
    Diory element using AngularJS <code>dg-diory</code> directive based on <code>diory.json</code>:
</p>

<pre><code>
    <dg-diory diory="diory"></dg-diory>
</code></pre>

<p>
    Template in <code>dg-diory</code> directive:
</p>

<pre><code>
    <dg-image ng-class="diory.class.image" ng-style="diory.style.image">
        <i class="icon" ng-class="diory.class.image" ng-style="{'background-image': 'url(' + diory.image + ')'}"></i>
    </dg-image>
    <a dg-address ng-if="diory.address" ng-style="diory.style.address" ng-href="{{diory.address}}" target="_blank">
        <i class="big icon" ng-class="diory.class.address"></i></a>
    <dg-name class="ui header" ng-class="diory.class.name" ng-style="diory.style.name" ng-bind="diory.name"></dg-name>
    <dg-text ng-class="diory.class.text" ng-style="diory.style.text" ng-bind="diory.text"></dg-text>
    <dg-buttons ng-transclude ng-mousedown="select($event,diory)"></dg-buttons>
</code></pre>

<p>
    Elements can be modified with CSS Style attributes and <a href="http://semantic-ui.org/">Semantic UI</a>
    classes (header -> name, icon -> image, icon -> address).
</p>


        <h2><a name="format" class="anchor" href="#format"><span
class="octicon octicon-link"></span></a>Format</h2>

<p>

    Diograph (digital biography) is a text document (JSON-LD format) for storing information of a room.
</p>

<pre><code>room.json:

    {
        "diory": {...},
        "position": {...},
        "status": "on",
        "newThings": "2",
        "agents": [...],
        "doors": [...],
        "objects": [...],
        "moments": [...],
        "places": [...]
    }

</code></pre>

<h3><a name="diory-format" class="anchor" href="#diory-format"><span
class="octicon octicon-link"></span></a>Diory Format</h3>

<p>
Diory (digital memory) is the unit of information in the Personal Web. A diory relates to a room or a thing (agent, door, object, moment and place).
</p>


<h3><a name="object-format" class="anchor" href="#object-format"><span
        class="octicon octicon-link"></span></a>Thing Format</h3>

<p>
    Doors, objects, agents, keys and tools are things. Things can be copied from a room to another.
</p>

<pre><code>door.json:

    {
        "diory": "",
        "position": {...},
        "status": "on", // On, off
        "newThings": "", // New things since previous update
        "agents": [...],
        "key": ""
    }

agent.json:

    {
        "diory": "",
        "position": {},
        "status": "",
        "newThings": "",
        "tools": [],
        "keys": [
            {
                "ID": "", // Door
                "key": ""
            }
        ]
    }

object.json:

    {
        "diory": "",
        "position": {},
        "status": "",
        "newThings": "",
        "objects": []
    }

</code></pre>

<h3><a name="dimension-format" class="anchor" href="#dimension-format"><span
        class="octicon octicon-link"></span></a>Dimension Format</h3>

<p>
    Moment and place are dimensions.
</p>

<pre><code>moment.json:

    {
        "diory": "",
        "position": {},
        "status": "",
        "newThings": "",
        "key": ""
        "objects": []
    }

place.json:

    {
        "diory": "",
        "position": {},
        "status": "",
        "newThings": "",
        "objects": []
    }

</code></pre>

<h3><a name="security-model" class="anchor" href="#security-model"><span
        class="octicon octicon-link"></span></a>Security Model</h3>

<p>The Personal Web is based on the Document Encryption security model. The room.json document is encrypted with the
    AES-256 algorithm. Agents have keys to the room or keys can be in doors in other rooms.</p>

<pre><code>door.json:

    {
        "diory": "",
        "position": {...},
        "status": "on", // On, off
        "newThings": "", // New things since previous update
        "agents": [...],
        "key": ""
    }

agent.json:

    {
        "diory": "",
        "position": {},
        "status": "",
        "newThings": "",
        "tools": [],
        "keys": [
            {
                "ID": "", // Room
                "key": ""
            }
        ]
    }

</code></pre>

<p>Options to share a room:
    <ol>
        <li>Send the room.json and key.</li>
        <li>Send door with key.</li>
        <li>Send door and agent with key.</li>
    </ol>
</p>
<p>Decrypt, encrypt with new key, send key to agents in the room.</p>
<p>Places (servers) may have the standard access control method. Is it possible to save with a token saved in the room?</p>

<h3><a name="personal-browser" class="anchor" href="#personal-browser"><span
class="octicon octicon-link"></span></a>Personal Browser</h3>

<p>Personal Browser is a html5 application that reads Diograph JSON-LD format. Use here or download to here.</p>

<pre><code>
    http://personal-browser-domain-and-path?address&key
    http://personal-browser-domain-and-path?address&key&diory

</code></pre>

<p>Address is the URL-address of the room.json file. Key opens the door to the room, if it's locked.</p>

<pre><code>
    http://personal-browser-domain-and-path?room&diory

</code></pre>

<h3><a name="naming-convention" class="anchor" href="#naming-convention"><span
        class="octicon octicon-link"></span></a>Structure and naming</h3>

<p>Conventions follow guidelines from <a href="https://docs.google.com/document/d/1XXMvReO8-Awi1EZXAXS4PzDzdNvV6pGcuaF4Q9821Es/pub">Best
    Practice Recommendations for Angular App Structure</a> and <a
        href="https://github.com/airbnb/javascript">Airbnb JavaScript Style Guide() {</a>.
    </p>

<pre><code>
    id="DgIndentity"
    class="dg class"
    dgDirective
    DgCtrl
    DgFunction
    var dgVariable
</code></pre>

<h3><a name="authors-and-contributors" class="anchor" href="#authors-and-contributors"><span
class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>You can <a href="https://github.com/blog/821" class="user-mention">@mention</a> a GitHub username to generate
a link to their profile. The resulting <code>&lt;a&gt;</code> element will link to the contributor's GitHub
Profile. For example: In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>),
PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner
(<a href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p>

<h3><a name="support-or-contact" class="anchor" href="#support-or-contact"><span
class="octicon octicon-link"></span></a>Support or Contact</h3>

<p>Having trouble with Pages? Check out the documentation at <a href="http://help.github.com/pages">http://help.github.com/pages</a>
or contact <a href="mailto:support@github.com">support@github.com</a> and we’ll help you sort it out.</p>

    </section>
</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-56034805-1");
        pageTracker._trackPageview();
    } catch (err) {
    }
</script>

</body>
</html>