<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <title>Diograph.org</title>
</head>

<body>

<header>
    <div class="container">
        <h1>Diograph.org</h1>
        <h2>The Library for the Personal Web</h2>
    </div>
</header>

<div class="container">
    <section id="main_content">

<p>
Diograph.org is a Javascript library for the Personal Web developers. For the Personal Web itself, go to <a href="http://personal-web.org">personal-web.org</a>.
</p>
<h3><a name="getting-started" class="anchor" href="#getting-started"><span
class="octicon octicon-link"></span></a>Getting started</h3>

<p>
<ol>
<li>Create or get a Diograph document.</li>
<li>Save document to a folder in a device, service or server.</li>
<li>Open document with a Personal Browser.</li>
</ol>
</p>

<h2><a name="conceptual-model" class="anchor" href="#conceptual-model"><span
class="octicon octicon-link"></span></a>Conceptual Model</h2>

<p>
    Personal Web is a personal information system that sits between the WWW (global information system) and Files and
    Folders (local information system). Its purpose is to give people a better way to think and a neutral way to have
    digital information.
</p><p>
    The core of the Personal Web is the Diograph -data model that is used in
    the Personal Web applications and that is stored in any file system. The Diograph -data model is based on the
    Digital Habitat -conceptual model, the new way of thinking digital information.
</p><p>
    The design principle of the Personal Web is that our digital environment should be similar to our physical environment.
    The same principle is used also before in the <a href="http://en.wikipedia.org/wiki/Desktop_metaphor">desktop metaphor</a> and <a href="http://mashable.com/2010/01/13/conceptual-metaphors/">paper/document metaphor</a>
</p><p>
    Personal Web, respectively, consists of places like our physical environment. A place has owners, which are represented by avatars. A place again consists of rooms.
</p><p>
    A room is the main functional unit of the Personal Web. A room has walls, floor and sky as a ceiling. Each of these contain diories (digital memories), the basic information units of the Personal Web.
    Diories can be organized into a graph (semantic memory), a timeline (temporal memory), a map (spatial memory), a flowchart (procedural memory) or as a landscape of doors to other rooms.
</p>

<h2><a name="diory" class="anchor" href="#diory"><span
        class="octicon octicon-link"></span></a>Diory</h2>

<p>
    Diory is the basic information unit and element in the Personal Web. A diory consists of name, text, image and address elements. Personal Web tools can attach buttons to diories.
</p>

<image src="images/diory.png"></image>

<pre><code>diory.json:

    {
        "ID": "21EC2020-3AEA-4069-A2DD-08002B30309D4", // GUID (mandatory)
        "version": "0.1.9",
        "IRI": "http://dbpedia.org/example", // For linked data
        "name": "This is the name of the diory",
        "text": "This is text in the diory",
        "background": "http://example.com/image.jpg",
        "address": "http://example.com/webpage/",
        "data": {...},
        "class": { // CSS class for sub-elements (see list of available classes)
            "name": {...},
            "text": {...},
            "image": {...},
            "address": {...},
        },
        "style": { // Specific CSS style for sub-elements
            "name": {...},
            "text": {...},
            "image": {...},
            "address": {...},
        },
        "location": { // GeoJSON-LD
            "type": "point",
            "coordinates": [61.49623408242434, 23.73213060316381, 16z],
        },
        "date": ["2014-05-05T13:28:30Z","2014-05-05T13:28:30Z",4],
        "created": "2015-01-29T07:06:00Z",
        "modified": "2015-01-29T07:06:00Z",
        "connections": {
            {dioryID}: {
                "roomID": "54AA020-3AEA-4069-A2DD-08002B30309D4",
                "position": {},
                "status": {}
            }
        }
    }

</code></pre>

<p>
    Diory element using AngularJS <code>dg-diory</code> directive based on <code>diory.json</code>:
</p>

<pre><code>
    <dg-diory diory="diory"></dg-diory>
</code></pre>

<p>
    Template in <code>dg-diory</code> directive:
</p>

<pre><code>
    <dg-image ng-class="diory.class.image" ng-style="diory.style.image">
        <i class="icon" ng-class="diory.class.image" ng-style="{'background-image': 'url(' + diory.image + ')'}"></i>
    </dg-image>
    <a dg-address ng-if="diory.address" ng-style="diory.style.address" ng-href="{{diory.address}}" target="_blank">
        <i class="big icon" ng-class="diory.class.address"></i></a>
    <dg-name class="ui header" ng-class="diory.class.name" ng-style="diory.style.name" ng-bind="diory.name"></dg-name>
    <dg-text ng-class="diory.class.text" ng-style="diory.style.text" ng-bind="diory.text"></dg-text>
    <dg-buttons ng-transclude ng-mousedown="select($event,diory)"></dg-buttons>
</code></pre>

<p>
    Elements can be modified with CSS Style attributes and <a href="http://semantic-ui.org/">Semantic UI</a> classes (header -> name, icon -> image, icon -> address).
</p>

<h2><a name="room" class="anchor" href="#room"><span
        class="octicon octicon-link"></span></a>Room</h2>

<p>
    Room is the container in the Personal Web. A room consists of walls, floor and sky as a ceiling.
    A room contains diories and tools.
</p>

<image src="images/room.png"></image>

<pre><code>room.json:

    {
        "ID": "03a0ddc5-9427-44b5-a066-67b61ca44cbc",
        "avatars": {
            "oopee@iki.fi": {
                "roomID": "03a0ddc5-9427-44b5-a066-67b61ca44cbc",
                "position": {},
                "status": {}
            }
        },
        "diorys": {
            "21EC2020-3AEA-4069-A2DD-08002B30309D4": {...}
        }
    }

</code></pre>

<p>
    Diory element using AngularJS <code>dg-diory</code> directive based on <code>diory.json</code>:
</p>

<pre><code>
    <dg-diory diory="diory"></dg-diory>
</code></pre>

<p>
    Template in <code>dg-diory</code> directive:
</p>

<pre><code>
    <dg-image ng-class="diory.class.image" ng-style="diory.style.image">
        <i class="icon" ng-class="diory.class.image" ng-style="{'background-image': 'url(' + diory.image + ')'}"></i>
    </dg-image>
    <a dg-address ng-if="diory.address" ng-style="diory.style.address" ng-href="{{diory.address}}" target="_blank">
        <i class="big icon" ng-class="diory.class.address"></i></a>
    <dg-name class="ui header" ng-class="diory.class.name" ng-style="diory.style.name" ng-bind="diory.name"></dg-name>
    <dg-text ng-class="diory.class.text" ng-style="diory.style.text" ng-bind="diory.text"></dg-text>
    <dg-buttons ng-transclude ng-mousedown="select($event,diory)"></dg-buttons>
</code></pre>

<p>
    Elements can be modified with CSS Style attributes and <a href="http://semantic-ui.org/">Semantic UI</a>
    classes (header -> name, icon -> image, icon -> address).
</p>


        <h2><a name="format" class="anchor" href="#format"><span
class="octicon octicon-link"></span></a>Format</h2>


<h3><a name="diory-format" class="anchor" href="#diory-format"><span
class="octicon octicon-link"></span></a>Diory Format</h3>

<p>
Diory (digital memory) is the unit of information in the Personal Web. A diory relates to a room or a thing (agent, door, object, moment and place).
</p>


</section>
</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-56034805-1");
        pageTracker._trackPageview();
    } catch (err) {
    }
</script>

</body>
</html>